@mixin flexbox($d,$w, $jc, $ai) {
    display: flex;
    flex-flow: $d $w;
    justify-content: $jc;
    align-items: $ai;
}
@mixin discover {
    font-family: 'Montserrat';
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: $mainColor;
}