@import url(../Fonts/montserrat/montserrat.css);
@import url(../Fonts/montserrat-cufonfonts-webfont/style.css);
@import url(../Fonts/roboto/roboto.css);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: url(../Images/header.png);
  background-position: center center;
}

.header__top {
  width: 100%;
  height: 36px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  font-family: 'Montserrat SemiBold';
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 6px;
  padding-left: 250px;
}

.header__right {
  padding-right: 250px;
}

.header__button {
  width: 90px;
  height: 36px;
  border: 2px solid #ffffff;
  border-radius: 40px;
  font-family: 'Montserrat Light';
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.header__button_log-in {
  border: none;
}

.header__main {
  width: 470px;
  margin-top: 147px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__main h1 {
  font-family: 'Montserrat SemiBold';
  font-size: 52px;
  line-height: 63px;
  text-align: center;
  color: #ffffff;
}

.header__main p {
  margin-top: 29px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #F7F3F2;
}

button:focus {
  outline: none;
}

.header__button_main {
  width: 225px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: 'Montserrat SemiBold';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin: 33px 0px 224px;
  cursor: pointer;
}

.container {
  width: 940px;
  min-height: 500px;
  margin: 0 auto;
}

.main__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sub-heading {
  font-family: 'Montserrat SemiBold';
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #444444;
  margin: 95px 0 35px;
}

.main__steps-block {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main__steps-div {
  margin: 220px 25px 21px 25px;
  border-radius: 4px;
}

.main__steps-div .button__step {
  width: 70px;
  height: 20px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: 'Montserrat Light';
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #ffffff;
  margin-bottom: 20px;
  border: none;
}

.main__steps-div h2 {
  font-family: 'Montserrat SemiBold';
  font-size: 24px;
  line-height: 26px;
  color: #ffffff;
}

.main__steps-div p {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 14px;
  color: #E3E3E3;
  margin-top: 25px;
}

.step-1 {
  background: url(../Images/step-1.png);
  background-position: center center;
}

.step-2 {
  background: url(../Images/step-2.png);
  background-position: center center;
}

.step-3 {
  background: url(../Images/step-3.png);
  background-position: center center;
}

.main__partner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.main__partner_box {
  width: 221px;
  height: 224px;
}

.main__partner_box .main__partner_image {
  width: 126px;
  height: 126px;
  margin: 0 auto;
  background-color: #444444;
  position: relative;
  border-radius: 50%;
}

.main__partner_box .main__partner_icon {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
  border: 3px solid white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__partner_name {
  font-family: 'Montserrat SemiBold';
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #444444;
  margin-top: 17px;
}

.main__partner_about {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #666666;
  margin-top: 12px;
}

.partner-1 {
  background: url(../Images/bradley.png);
  background-position: center center;
  background-size: cover;
}

.icon-music {
  background-color: #FF4E50;
}

.partner-2 {
  background: url(../Images/marie.png);
  background-position: center center;
  background-size: cover;
}

.icon-brush {
  background-color: #19D4CA;
}

.partner-3 {
  background: url(../Images/diana.png);
  background-position: center center;
  background-size: cover;
}

.icon-camera {
  background-color: #FFA710;
}

.partner-4 {
  background: url(../Images/christopher.png);
  background-position: center center;
  background-size: cover;
}

.icon-airplane {
  background-color: #667DF3;
}

.button__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__other {
  margin: 36px auto;
  width: 180px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  font-family: 'Montserrat SemiBold';
  font-size: 14px;
  line-height: 17px;
  color: #FF4E50;
  cursor: pointer;
}

.main__discover_level-1,
.main__discover_level-2,
.main__discover_level-3 {
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 20px;
}

.discover__sport,
.discover__wellness,
.discover__extreme {
  width: 300px;
  height: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat';
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}

.discover__sport {
  background: url(../Images/sport.png);
  background-position: center center;
}

.discover__wellness {
  background: url(../Images/wellness.png);
  background-position: center center;
}

.discover__extreme {
  background: url(../Images/extreme.png);
  background-position: center center;
}

.discover__games,
.discover__cultute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  font-family: 'Montserrat';
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}

.discover__games {
  width: 300px;
  height: 310px;
  background: url(../Images/games.png);
}

.discover__cultute {
  width: 620px;
  height: 310px;
  background: url(../Images/culture.png);
}

.discover__enjoyment,
.discover__travelling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  font-family: 'Montserrat';
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
}

.discover__enjoyment {
  width: 620px;
  height: 310px;
  background: url(../Images/enjoyment.png);
}

.discover__travelling {
  width: 300px;
  height: 310px;
  background: url(../Images/travelling.png);
}

.main__create p {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 14px;
  text-align: center;
  color: #666666;
}

.main__create_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0 100px;
}

.main__create_form input[type="text"] {
  width: 300px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #D4D4D4;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
}

.main__create_form input[type="text"]::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-indent: 14px;
}

.main__create_form input[type="text"]:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-indent: 14px;
}

.main__create_form input[type="text"]::-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-indent: 14px;
}

.main__create_form input[type="text"]::placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  text-indent: 14px;
}

.main__create_form input[type="text"]:focus {
  outline: none;
}

.main__create_form input[type="submit"] {
  width: 172px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  font-family: 'Montserrat SemiBold';
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: 10px;
  cursor: pointer;
  border: none;
}

.footer {
  border-top: 2px solid #FF4E50;
  height: 260px;
}

.footer__main {
  width: 940px;
  height: inherit;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.footer__box {
  height: inherit;
  width: 25%;
  padding-top: 38px;
}

.footer__dreamshare {
  font-family: 'Montserrat ExtraLight';
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
}

.footer__company h4, .footer__partners h4 {
  font-family: 'Montserrat SemiBold';
  font-size: 14px;
  line-height: 17px;
  color: #444444;
}

.footer__company ul, .footer__partners ul {
  list-style-type: none;
  margin-top: 11px;
}

.footer__company a:link, .footer__partners a:link {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 26px;
  color: #999999;
}

.footer__company a:visited, .footer__partners a:visited {
  color: #999999;
}

.footer__logo {
  position: relative;
}

.footer__logo p {
  font-family: 'Montserrat SemiBold';
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1px;
  color: #CCCCCC;
  text-align: right;
}

.footer__logo img {
  position: absolute;
  width: 110px;
  height: 24px;
  margin-top: 7px;
  right: 0;
}

@media screen and (max-width: 1200px) {
  .header__top {
    width: 748px;
  }
  .header__left {
    padding-left: 50px;
  }
  .header__right {
    padding-right: 50px;
  }
  .container {
    width: 748px;
  }
  .sub-heading {
    font-size: 22px;
    line-height: 27px;
  }
  .main__steps-block {
    width: 236px;
    height: 400px;
  }
  .main__steps-div {
    margin: 205px 20px 16px 20px;
  }
  .main__steps-div h2 {
    line-height: 14px;
  }
  .main__steps-div p {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 14px;
    color: #E3E3E3;
  }
  .main__partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 492px;
    max-height: 580px;
    margin: 0 auto;
  }
  .main__partner_box {
    width: 236px;
    height: 224px;
  }
  .button__other {
    margin: 16px auto 0;
  }
  .discover__sport,
  .discover__wellness,
  .discover__extreme {
    width: 236px;
    padding: 15px;
  }
  .discover__games {
    width: 236px;
    padding: 15px;
  }
  .discover__cultute {
    width: 492px;
    padding: 15px;
  }
  .discover__enjoyment {
    width: 492px;
    height: 310px;
    padding: 15px;
  }
  .discover__travelling {
    width: 236px;
    padding: 15px;
  }
  .footer {
    height: 244px;
  }
  .footer__main {
    width: 748px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 540px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background: url(../Images/header-small.png);
    background-size: cover;
  }
  .header__top {
    width: 300px;
    min-height: 155px;
    margin: 0 auto;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__left {
    padding: 0px;
    margin: 0;
  }
  .header__button {
    width: 90px;
    height: 36px;
    border: 2px solid #ffffff;
    border-radius: 40px;
    font-family: 'Montserrat Light';
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 97px;
  }
  .header__button_log-in {
    border: none;
  }
  .header__main {
    width: 310px;
    margin-top: 26px;
  }
  .header__main h1 {
    font-family: 'Montserrat SemiBold';
    font-size: 30px;
    line-height: 37px;
  }
  .header__main p {
    margin-top: 5px;
    font-size: 18px;
    line-height: 24px;
    padding: 0 20px 0 20px;
  }
  .header__button_main {
    width: 280px;
    margin: 15px auto;
  }
  .container {
    width: 300px;
  }
  .sub-heading {
    margin: 34px 0 15px;
  }
  .main__steps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 600px;
  }
  .main__steps-block {
    width: 300px;
    height: 240px;
    margin-bottom: 10px;
  }
  .main__steps-div {
    margin: 64px 20px 16px 30px;
  }
  .step-3 {
    margin-bottom: 0;
  }
  .main__partner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 900px;
    width: 300px;
  }
  .main__partner_box {
    margin: 0 auto;
    margin-bottom: 0;
  }
  .main__partner_box:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .main__partner_box:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .main__partner_box:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .main__partner_box:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .button__middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .button__other {
    margin: 13px auto;
    width: 280px;
  }
  .main__discover {
    width: 300px;
    min-height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .main__discover_level-1 {
    min-height: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .main__discover_level-2,
  .main__discover_level-3 {
    height: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .discover__sport,
  .discover__wellness,
  .discover__extreme,
  .discover__games,
  .discover__cultute,
  .discover__enjoyment,
  .discover__travelling {
    width: 300px;
    height: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 22px;
    line-height: 27px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-size: initial;
  }
  .discover__sport {
    background: url(../Images/sport-small.png);
  }
  .discover__wellness {
    background: url(../Images/wellness-small.png);
  }
  .discover__extreme {
    background: url(../Images/extreme-small.png);
  }
  .discover__games {
    background: url(../Images/games-small.png);
  }
  .discover__cultute {
    background: url(../Images/culture-small.png);
  }
  .discover__enjoyment {
    background: url(../Images/enjoyment-small.png);
  }
  .discover__travelling {
    background: url(../Images/travelling-small.png);
  }
  .main__create_form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 15px 0 40px;
  }
  .main__create_form input[type="text"] {
    width: 280px;
    margin-bottom: 10px;
  }
  .main__create_form input[type="submit"] {
    width: 280px;
    font-size: 14px;
    margin: 0 auto;
  }
  .footer {
    height: 226px;
  }
  .footer__main {
    width: 310px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__box {
    height: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    padding-top: 0;
  }
  .footer__dreamshare {
    margin-top: 20px;
    margin-bottom: 13px;
  }
  .footer__company, .footer__partners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__company ul, .footer__partners ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-top: 1px;
  }
  .footer__company li, .footer__partners li {
    margin: 0 15px 0 15px;
  }
  .footer__partners {
    margin-top: 6px;
    margin-bottom: 14px;
  }
  .footer__logo {
    position: relative;
    margin: 0 auto;
  }
  .footer__logo img {
    position: relative;
  }
}
/*# sourceMappingURL=style.css.map */